.container {
  .musicBox {
    position: fixed;
    .music {
      width: 100%;
      height: 100%;
    }
    .playing {
      animation: rotate 6s linear infinite;
    }
    @keyframes rotate {
      0% {
          transform: rotateZ(0deg);
          /*从0度开始*/
      }
  
      100% {
          transform: rotateZ(360deg);
          /*360度结束*/
      }
  }
  }
}